/* 
#Mainbody {
    background-color: rgba(28, 28, 39, 0.977);
}

hr.new1 {
    position: relative;
    width:25%;
    border-radius: 5px;
    background-color: white;
    right:350px;
    top:152px;

}

#maintitle {
    position: absolute;
    font-size: 20px;
    top:30px;
    font-family: sans-serif;
    font-weight: 900;
    color: lightgrey;
    left:80px;

}

#welcome {
    position: absolute;
    color:rgb(144, 142, 152);
    font-size: 20px;
    top:150px;
    left:50px;
}
 */

    